
<h3>My Restaurants</h3>
<ul>
<% current_user.restaurants.each do | restaurant | %>
  <%= content_tag :li,
              link_to(restaurant.name, restaurant_menus_path(restaurant)) %>
<% end %>
</ul>
<%= link_to 'Add Restaurant', new_user_restaurant_path(current_user) %>
