<div class='center'>
  <h2>Welcome to Launch 'n Dine!</h2>
  <h4>An autonomous food delivery system</h4>
  <h4>Be a <%= link_to 'Restaurant Owner', new_user_registration_path( role: 'owner') %></h4>
  <h4>Be a <%= link_to 'Delivery Driver', new_user_registration_path( role: 'driver') %></h4>
  <h4>Maybe <%= link_to 'Order Some Food', new_user_registration_path( role: 'customer') %></h4>
  <br>
  <h4>Hey, this site is just for fun! You can sign in with the following emails:</h5>
  <h5>owner_1@example.com</h5>
  <h5>owner_2@example.com</h5>
  <h5>driver_1@example.com</h5>
  <h5>driver_2@example.com</h5>
  <h5>customer_1@example.com</h5>
  <h5>customer_2@example.com</h5>
  <h4>Password always 'password'</h5>
</div>
